* {
  background-color: rgba(225, 225, 250, 0.911);
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  
  outline: none;
  border: none;
}
.text-color{
  color: gold;
}

.fa-search{
  color:white;
  background-color: gr;

  font-size: 26px;
}
.search-box {
  display: flex;
  justify-content: space-between;
  
  width: 500px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
  padding: 8px;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  box-shadow:  10px 10px 10px grey;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(192, 17, 17);
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 200px;
  height: 150px;
}

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 40px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
.details-btn{
  padding: 10px;
  border: 1px solid #2abbe8;
  background: #2abbe8;
  color: #fff;
  font-size: 18px;
}

.cart-btn{

  padding: 10px;
  border: 1px solid #f57224;
  background: #f57224;
  color: #fff;
  font-size: 18px;


}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
